.page-title {
  font-size: 2rem;
  font-weight: 700;
  margin: 4rem 0 3rem;
}

@media screen and (max-width: 991px) {
  .page-title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 3rem 0 2rem;
  }
}
