.card-info {
  height: 100%;
  padding: 1rem 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  .card-info__title {
    font-size: 20px;
    font-weight: 800;
    line-height: 28px;
    margin-bottom: 1rem;
    height: 3rem;
  }
  .card-info__description {
    font-size: 1rem;
    line-height: 1.5rem;
    height: 100px;
  }
  .card-info__sub-info-group {
    display: flex;
    justify-content: space-between;
    .card-info__icon-info-group {
      display: flex;
      .card-info__icon {
        display: flex;
        align-items: center;
        margin-right: 0.5rem;
        svg {
          margin-right: 0.2rem;
        }
      }
    }
  }
}
