.text-area__text-input {
  outline: none;
  padding: 1rem 1.5rem;
  width: 70%;
  resize: none;
  line-height: 1.5rem;
}

@media screen and (max-width: 991px) {
  .text-area__text-input {
    padding: 1rem 1rem;
    width: 100%;
    height: 200px;
  }
}
