.title {
  margin-bottom: 1rem;
  .title__main {
    font-size: 3rem;
    color: #eab308;
    font-weight: 700;
  }
  .title__sub {
    color: #374151;
    font-size: 2rem;
    font-weight: 700;
    display: inline-block;
    margin-bottom: 0.5rem;
  }
}

@media screen and (max-width: 991px) {
  .title {
    .title__main {
      font-size: 1.8rem;
    }
    .title__sub {
      font-size: 1.5rem;
    }
  }
}
