.post-card {
  border-radius: 1rem;
  transition: all 0.2s ease-in-out;
  &:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }

  .post-card__image {
    position: relative;
    width: 100%;
    height: 250px;
    margin-bottom: 0.5rem;
  }
}
