.career {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  .career__info-group {
    margin-bottom: 2rem;
    .career__career-data {
      display: flex;
      align-items: flex-end;
      margin-bottom: 0.8rem;
      .career__company-name {
        font-weight: 700;
        margin-right: 0.5rem;
        font-size: 1rem;
      }
      .career__job {
        margin-right: 0.5rem;
      }
      .career__period-date {
        margin-right: 1rem;
        display: flex;
      }
    }
    .career__date-group {
      display: flex;
    }
  }
}

@media screen and (max-width: 1360px) {
  .career {
    grid-template-columns: repeat(1, 1fr);
    .career__info-group {
      .career__career-data {
        .career__period-date {
          margin-right: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .career {
    font-size: 14px;
  }
}
