.introduction {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  .introduction__main-info {
    padding: 1rem 0 0 4rem;
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media screen and (max-width: 1360px) {
  .introduction {
    padding: 3rem 35px 0;
    border-bottom: none;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 991px) {
  .introduction {
    flex-direction: column;
    border-bottom: none;
    margin-bottom: 0;
    .introduction__main-info {
      padding: 0;
      width: 100%;
    }
  }
}

@media screen and (max-width: 560px) {
  .introduction {
    padding: 2rem 25px;
    flex-direction: column;
    .introduction__main-info {
      width: 100%;
    }
  }
}
