.comments-list-view {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
  padding-top: 3rem;
  width: 60%;
  border-top: 2px dotted rgba(0, 0, 0, 0.2);
  border-bottom: 2px dotted rgba(0, 0, 0, 0.2);
  .comments-list_no-comment {
    font-weight: 500;
    text-align: center;
    line-height: 2rem;
    margin-bottom: 3rem;
  }
}

@media screen and (max-width: 1360px) {
  .comments-list-view {
    width: 768px;
  }
}

@media screen and (max-width: 991px) {
  .comments-list-view {
    width: 100%;
  }
}
